*{
    margin: 0;
    padding: 0;

}

.Container{
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
height: 10vh;
background-color: #4158D0;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
;
color: whitesmoke;
}
.Opcoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial;

}
.ButtonSearch{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: none;

}

p{
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .LoginPerson{
        width: 30px;
    }
    .Subcontainer{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
       
    }
    .bi-search{
        font-size: 20px;
        background-color: transparent;
        position: absolute;
        margin-left: 16%;
        color: black;
    }

    .Banner{
        margin-top: 50px;
        width: 100%;
      

    }
    img{
        width: 100%;
    
    }

    .ContainerCard {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        background-color: whitesmoke;
        
        
    }

    .Cards {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top:20px;
      width:100%;
      
    }

    .Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 300px;
        border: 1px solid red;
        background-color: white
    }

    .livro {
        width: 100px;
    }